body {  font-family: 'Poppins', sans-serif; background-color: #116197; font-weight: bold;}
header {
	background-color: #116197;
	text-align: center;
}

header img {
	width: 30%;
}

.drapeau
{
	border:none;
	height:25px;
	width:50px;
	margin-top:-3px;
	margin-right:5px;

}


input[type=text], input[type=password], input[type=mail]{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
 font-style: black;
 
}

button {
  background-color: #202020;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  box-shadow:
}

button:hover {
  opacity: 0.8;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

#log{
  color: #ffffff;
}
.firstname{
  color: black;
}
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
}

.logo img{
  width: 50%;
}
.flag img{
  width: 50%;
}